
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />

	<title>Projects &mdash; Sophie Chou</title>
	
	<meta name="description" content="Sophie Chou projects" />
	<meta name="keywords" content="data, machine learning, journalism, ethics, writing" />
	<meta name="robots" content="index, follow" />

	
	<link rel="stylesheet" type="text/css" media="screen" href="http://alignedleft.com/assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="http://alignedleft.com/assets/css/narrow.css" />
	<meta name="viewport" content="initial-scale=1.0" />

	
	
</head>

<body>

	<header>
		<h1><a href="./">Sophie Chou</a><span class="prof">, hacker girl</span></h1>
		<nav>
		<ul>
		    	<li>
					<a href="./about/">About</a>
				</li>
	    		<li>
	    			<a target="_blank" href="http://blog.sophiechou.com/">Blog</a></li>
				</li>
	    		<li>
					<a href="./projects.html">Projects</a>
				</li>
	    		<li>
	    			<a target="_blank" href="https://twitter.com/mpetitchou">Twitter</a></li>
				</li>
	    		<li>
					<a target="_blank" href="https://github.com/sbchou/">Github</a>
				</li>
	    </ul>
	</nav>

	</header>

	<!--[if lte IE 8]>
		<div id="ie_warning"><strong>You&rsquo;re using an old version of Internet Explorer.</strong> Consider upgrading your browser to <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, or <a href="http://www.google.com/chrome">Chrome</a>, and experience a more beautiful web!</div>
	<![endif]-->

	<noscript>
		<div id="js_warning"><strong>JavaScript is turned off, so this page won&rsquo;t be very interactive.</strong> Switch JavaScript back on in your web browser for the full experience.</div>
	</noscript>

<h2>Projects</h2>

<div id="media">

                  <div class="image">
        <img src="http://alignedleft.com/content/05-talks/1.png" width="800" height="600">
      </div>
            
                  
</div>



<!-- 
<div id="media">
  {% if page.images %}
    {% include 'partials/assets/images.html' %}
  {% endif %}

  {% if page.video %}
    {% include 'partials/assets/video.html' %}
  {% endif %}

  {% if page.swf %}
    {% include 'partials/assets/swf.html' %}
  {% endif %}

  {% if page.html %}
    {% include 'partials/assets/html.html' %}
  {% endif %}
</div> -->
<div id="text">
	<h3><em><a href="http://www.tkqlhce.com/click-6754088-12330831-1441211122000">(De)coding Motion: Creative Coding with Processing</a></em></h3>
<p><a href="http://conferences.oreilly.com/design-ux-interaction-iot">Design Conference</a>, San Francisco<br />
2016 January 19–20</p>
<h3><em><a href="http://www.tkqlhce.com/click-6754088-12215846-1431459743000?url=http%3A%2F%2Fwww.oscon.com%2Fopen-source-2015%2Fpublic%2Fschedule%2Fdetail%2F42458%3Fcmp%3Daf-prog-confreg-lp-os15_bannerad_afp_cj_12215846_1">An Introduction to d3.js: From Scattered to Scatterplot</a></em></h3>
<p><a href="http://www.tkqlhce.com/click-6754088-12215846-1431459743000">OSCON</a>, Portland<br />
2015 July 21 — <a href="https://github.com/alignedleft/scattered-scatterplot">code</a>, <a href="http://chimera.labs.oreilly.com/books/1234000002001/ch01.html">examples</a></p>
<h3><em><a href="http://eyeofestival.com/speaker/scott-murray/">“Intro to D3 + BYOD” Workshop</a></em></h3>
<p><a href="http://eyeofestival.com/speaker/scott-murray/">Eyeo Festival</a>, Minneapolis<br />
2015 June 1</p>
<h3><em><a href="https://www.graphicalweb.org/2014/index.shtml#presentation_38">The Keys to a Successful Data Design Process</a></em></h3>
<p><a href="http://graphicalweb.org/2014/">The Graphical Web</a>, Winchester, England<br />
2014 August 28 — <a href="https://speakerdeck.com/alignedleft/the-keys-to-a-successful-data-design-process">slides</a>, <a href="https://github.com/alignedleft/data-vis-process">resources</a>, <a href="https://www.youtube.com/watch?v=ZMB_6OeCEP8">video</a></p>
<h3><em><a href="http://www.oscon.com/oscon2014/public/schedule/detail/35684">Open Source Your Data Design Process</a></em></h3>
<p><a href="http://www.anrdoezrs.net/click-6754088-12215846-1431459743000?url=http%3A%2F%2Fwww.oscon.com%2Foscon2014">OSCON</a>, Portland<br />
2014 July 23 — <a href="https://speakerdeck.com/alignedleft/open-source-your-data-design-process">slides</a>, <a href="https://github.com/alignedleft/data-vis-process">resources</a></p>
<h3><em><a href="https://www.eventbrite.com/e/cartography-a-gisec-geomixer-tickets-11640648493">What Happens When Maps Become Software</a></em></h3>
<p><a href="https://www.eventbrite.com/e/cartography-a-gisec-geomixer-tickets-11640648493">cARTography GeoMixer</a>, <a href="http://ccsfgis.org/">CCSF GIS Education Center</a>, San Francisco<br />
2014 June 19</p>
<h3><em><a href="/projects/2014/easy-as-pi/">ease()-y as Math.PI: 1,200,000ms of Fun with D3’s Animated Transitions</a></em></h3>
<p><a href="http://eyeofestival.com/">Eyeo Festival</a>, Minneapolis<br />
2014 June 11 — <a href="/projects/2014/easy-as-pi/">presentation</a></p>
<h3><em><a href="https://www.eventbrite.com/e/parisoma-x-why-your-data-driven-workflow-matters-exploring-collaborative-processes-for-data-and-tickets-10631686661">Why Your Data-Driven Workflow Matters: Exploring Collaborative Processes for Data and Info Design</a></em></h3>
<p><a href="http://www.parisoma.com/events/#parisoma-x">PARISOMA [X]</a>, San Francisco<br />
2014 May 14</p>
<h3><em><a href="http://fluentconf.com/fluent2014/public/schedule/detail/33816_cj_11666025_6754088">Interface Design Considerations for Data Visualization</a></em></h3>
<p><a href="http://fluentconf.com/fluent2014/">Fluent Conference</a>, San Francisco<br />
2014 March 12 — <a href="https://speakerdeck.com/alignedleft/interface-design-considerations-for-data-visualization">slides</a></p>
<h3><em><a href="http://www.meetup.com/Data-Visualization-DC/events/167470262/">Whatever Happened to “Augmenting Human Intellect”?</a></em></h3>
<p><a href="http://www.meetup.com/Data-Visualization-DC/events/167470262/">Data Vis DC Meetup</a>, Washington, DC<br />
2014 February 26 — <a href="https://speakerdeck.com/alignedleft/whatever-happened-to-augmenting-human-intellect">slides</a></p>
<h3><em><a href="http://www.meetup.com/visualizemydata/events/161570292/">Whatever Happened to “Augmenting Human Intellect”?</a></em></h3>
<p><a href="http://www.meetup.com/visualizemydata/events/161570292/">Bay Area Data Vis</a> and <a href="http://www.meetup.com/Bay-Area-d3-User-Group/events/161420362/">Bay Area D3</a> Meetups, San Francisco<br />
2014 February 13 — <a href="https://speakerdeck.com/alignedleft/whatever-happened-to-augmenting-human-intellect">slides</a>, <a href="http://youtu.be/Qx10Svpe1-s">video</a></p>
<h3><em><a href="http://strataconf.com/strata2014/public/schedule/detail/32866">From Scattered to Scatterplots: An Introduction to d3.js</a></em></h3>
<p><a href="http://strataconf.com/strata2014/">Strata Conference</a>, Santa Clara<br />
2014 February 11 — <a href="https://github.com/alignedleft/scattered-scatterplot">code</a>, <a href="http://chimera.labs.oreilly.com/books/1234000002001/ch01.html">examples</a></p>
<h3><em><a href="http://www.oreilly.com/pub/e/2952">From Scattered to Scatterplot in Two Hours: An Introduction to d3.js</a></em></h3>
<p><a href="http://www.oreilly.com/webcasts/">O’Reilly Webcast</a><br />
2014 January 8 — <a href="https://github.com/alignedleft/scattered-scatterplot">code</a>, <a href="http://chimera.labs.oreilly.com/books/1234000002001/ch01.html">examples</a>, <a href="http://www.jdoqocy.com/click-6754088-11628361">video</a></p>
<h3><em>“The Evolution and Design of a Visualization Project”</em></h3>
<p><a href="http://www.oecd.org/std/statknowledge.htm">OECD Seminar on Innovative Approaches to Turn Statistics into Knowledge</a>, Aguascalientes<br />
2013 December 4 — <a href="https://speakerdeck.com/alignedleft/the-evolution-and-design-of-a-visualization-project">slides</a></p>
<h3><em><a href="http://oreillynet.com/pub/e/2913">Whatever Happened to “Augmenting Human Intellect”?</a></em></h3>
<p><a href="http://www.oreilly.com/webcasts/">O’Reilly Webcast</a><br />
2013 November 20 — <a href="https://speakerdeck.com/alignedleft/whatever-happened-to-augmenting-human-intellect">slides</a>, <a href="http://oreillynet.com/pub/e/2913">video</a></p>
<h3><em><a href="https://events.stanford.edu/events/390/39061/">Kindred Britain: An Introduction</a></em></h3>
<p>with <a href="https://english.stanford.edu/people/nicholas-jenkins">Nicholas Jenkins</a> and <a href="https://dhs.stanford.edu">Elijah Meeks</a><br />
Stanford University, <a href="https://english.stanford.edu">Dept. of English</a><br />
2013 October 30</p>
<h3><em><a href="http://www.graphicalweb.org/2013/#presentation_34">Whatever Happened to “Augmenting Human Intellect”?</a></em></h3>
<p><a href="http://www.graphicalweb.org/2013/">The Graphical Web</a>, San&nbsp;Francisco<br />
2013 October 23 — <a href="https://speakerdeck.com/alignedleft/whatever-happened-to-augmenting-human-intellect">slides</a></p>
<h3><em><a href="http://html5devconf.com/training.html#murray_d3js">“Crazy Data Circles” Workshop</a></em></h3>
<p><a href="http://html5devconf.com/">HTML5 Developers Conference</a>, San&nbsp;Francisco<br />
2013 October 21 — <a href="https://github.com/alignedleft/crazy-data-circles">code</a></p>
<h3><em><a href="http://itp.nyu.edu/camp2013/ai1ec_event/crazy-data-circles-with-d3-js/">“Crazy Data Circles” Workshop</a></em></h3>
<p><a href="http://itp.nyu.edu/camp2013/">ITP Camp</a>, New York<br />
2013 June 13 — <a href="https://github.com/alignedleft/crazy-data-circles">code</a></p>
<h3><em><a href="http://eyeofestival.com/speaker/scott-murray/">“Crazy Data Circles” Workshop</a></em></h3>
<p><a href="http://eyeofestival.com/speaker/scott-murray/">Eyeo Festival</a>, Minneapolis<br />
2013 June 5 — <a href="https://github.com/alignedleft/crazy-data-circles">code</a></p>
<h3><em><a href="http://www.meetup.com/USF-Seminar-Series-in-Analytics/events/104132572/">“Engaging Audiences with Data Visualization”</a></em></h3>
<p><a href="http://www.meetup.com/USF-Seminar-Series-in-Analytics/">USF Seminar Series in Analytics</a>, San&nbsp;Francisco<br />
2013 April 19</p>
<h3><em><a href="http://oreillynet.com/pub/e/2591">“The Value of Process”</a></em></h3>
<p><a href="http://www.oreilly.com/webcasts/">O’Reilly Webcast</a><br />
2013 March 20 — <a href="https://gist.github.com/alignedleft/5207023">links</a></p>
<h3><em><a href="http://www.du.edu/ahss/edp/news.html#murray">Artist Talk &amp; Workshop</a></em></h3>
<p><a href="http://www.du.edu/ahss/edp/index.html">Emergent Digital Practices</a><br />
<a href="http://du.edu/">University of Denver</a>, Denver<br />
2013 March 8 — <a href="https://github.com/alignedleft/edp-d3-workshop">code</a></p>
<h3><em><a href="http://strataconf.com/strata2013/public/schedule/detail/27425">d3.js Tutorial</a></em></h3>
<p>with <a href="http://www.jeromecukier.net">Jérôme Cukier</a><br />
<a href="http://strataconf.com/strata2013">Strata Conference</a>, Santa Clara<br />
2013 February 26 — <a href="https://speakerdeck.com/alignedleft/strata-2013-d3-tutorial">slides</a>, <a href="https://github.com/alignedleft/strata-d3-tutorial">code</a></p>
<h3><em><a href="http://www.meetup.com/Bay-Area-d3-User-Group/events/102356032/">“Learning D3”</a></em></h3>
<p><a href="http://www.meetup.com/Bay-Area-d3-User-Group/">Bay Area D3 Meetup</a>, San Francisco<br />
2013 February 21 — <a href="https://speakerdeck.com/alignedleft/learning-d3">slides</a>, <a href="http://www.youtube.com/playlist?list=PLI_sHchSmdCCRq86X778ZpIlbOPCUF0MF">video</a></p>
<h3><em><a href="http://oreillynet.com/pub/e/2584">“Engaging Audiences with Data Visualization”</a></em></h3>
<p><a href="http://www.oreilly.com/webcasts/">O’Reilly Webcast</a><br />
2013 February 13 — <a href="https://speakerdeck.com/alignedleft/engaging-audiences-with-data-visualization">slides</a></p>
<h3><em><a href="http://www.meetup.com/The-Visual-ly-Data-Visualization-Meetup/events/99897872/">“The Value of Process”</a></em></h3>
<p><a href="http://www.meetup.com/The-Visual-ly-Data-Visualization-Meetup/">Visual.ly Meetup</a>, San Francisco<br />
2013 January 31 — <a href="https://speakerdeck.com/alignedleft/the-value-of-process">slides</a>, <a href="http://blog.visual.ly/top-trends-in-data-visualization-2013-visually-meetup/">video</a></p>
<h3><em><a href="http://gasf_datavisualizationpanel-967211a4182faf1ab7b29d1ed45d87cc.eventbrite.com">Data Visualization Panel</a></em></h3>
<p>with <a href="http://bost.ocks.org/mike/">Mike Bostock</a>, <a href="http://rachelbinx.com">Rachel Binx</a>, <a href="http://www.tom-carden.co.uk">Tom Carden</a>, and <a href="http://noupsi.de">Renee DiResta</a><br />
<a href="http://generalassemb.ly/locations/san-francisco">General Assembly</a>, San Francisco<br />
2013 January 18 — <a href="http://www.slideshare.net/GeneralAssembly_SF/data-visualization-16265937">notes</a></p>
<h3><em>“Engaging Audiences with Data Visualization: Communicating your research, data, and findings to people outside your field”</em></h3>
<p><a href="http://www.epibiostat.ucsf.edu/biostat/events.html">UCSF Biostatistics and Bioinformatics Seminar</a>, San Francisco<br />
2012 December 5</p>
<h3><em>Designer Q&amp;A Broadcast</em></h3>
<p>with <a href="http://moritz.stefaner.eu">Moritz Stefaner</a><br />
<a href="http://visualizing.org/marathon2012/recap">Visualizing Global Marathon</a><br />
2012 November 10 — <a href="https://www.youtube.com/watch?v=WUNqU0NSwME">video</a></p>
<h3><em><a href="http://visweek.org/year/2012/tutorial/visweek/introduction-data-visualization-web-d3js">Introduction to Data Visualization on the Web with D3.js</a></em></h3>
<p>with <a href="http://www.jeromecukier.net">Jérôme Cukier</a> and <a href="http://hci.stanford.edu/jheer/">Jeff Heer</a><br />
<a href="http://visweek.org/year/2012/info/call-participation/welcome">VisWeek</a>, Seattle<br />
2012 October 13</p>
<h3><em>“A Process of Mapping Peace”</em></h3>
<p><a href="http://www.stat2knowledge.org">OECD Seminar on Innovative Approaches to Turn Statistics into Knowledge</a>, Seoul<br />
2012 September 24</p>	</div>


	<footer>
		<p>Copyright © 2015 Sophie Chou</p>	</footer>



</body>
</html>