
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />

	<title>Papers &mdash; Sophie Chou</title>
	
	<meta name="description" content="Sophie Chou projects" />
	<meta name="keywords" content="data, machine learning, journalism, ethics, writing" />
	<meta name="robots" content="index, follow" />

	
	<link rel="stylesheet" type="text/css" media="screen" href="http://alignedleft.com/assets/css/screen.css" />
	<link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="http://alignedleft.com/assets/css/narrow.css" />
	<meta name="viewport" content="initial-scale=1.0" />

	
	
</head>

<body>

	<header>
		<h1><a href="./">Sophie Chou</a><span class="prof">, hacker girl</span></h1>
		<nav>
		<ul>
		    	<!--<li>
					<a href="./about/">About</a>
				</li>-->
	    		<li>
	    			<a target="_blank" href="http://blog.sophiechou.com/">Blog</a></li>
				</li>
	    		<li>
					<a href="./papers.html">Papers</a>
				</li>
	    		<li>
	    			<a target="_blank" href="https://twitter.com/mpetitchou">Twitter</a></li>
				</li>
	    </ul>
	</nav>


	</header>

	<!--[if lte IE 8]>
		<div id="ie_warning"><strong>You&rsquo;re using an old version of Internet Explorer.</strong> Consider upgrading your browser to <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, or <a href="http://www.google.com/chrome">Chrome</a>, and experience a more beautiful web!</div>
	<![endif]-->

	<noscript>
		<div id="js_warning"><strong>JavaScript is turned off, so this page won&rsquo;t be very interactive.</strong> Switch JavaScript back on in your web browser for the full experience.</div>
	</noscript>

<h2>Very Select Papers</h2>

<!--<div id="media">

                  <div class="image">
        <img src="http://alignedleft.com/content/05-talks/1.png" width="800" height="600">
      </div>
            
                  
</div>-->



<!-- 
<div id="media">
  {% if page.images %}
    {% include 'partials/assets/images.html' %}
  {% endif %}

  {% if page.video %}
    {% include 'partials/assets/video.html' %}
  {% endif %}

  {% if page.swf %}
    {% include 'partials/assets/swf.html' %}
  {% endif %}

  {% if page.html %}
    {% include 'partials/assets/html.html' %}
  {% endif %}
</div> -->
<div id="text">
 
 	<h3><em><a href="http://www.sophiechou.com/papers/chou_racepaper.pdf">"Race and the Machine"</a></em></h3>
	<p><a href="http://www.bloomberglabs.com/data-science/events/bloomberg-data-good-exchange/">Data for Good Exchange</a>, New York<br />
	2015 September 28 — <a href="http://www.sophiechou.com/papers/chou_racepaper.pdf">paper</a>, <a href="http://www.sophiechou.com/papers/chou_racepaper_slides.pdf">slides</a></p>

	<h3><em><a href="http://www.sophiechou.com/papers/Chou-Li-Sridharan-DemocratizingDataScience.pdf">"Democratizing Data Science"</a></em></h3>
	<p><a href="http://www.kdd.org/kdd2014/">Data Science for Social Good, KDD</a>, New York<br />
	2014 August 24 — <a href="http://www.sophiechou.com/papers/Chou-Li-Sridharan-DemocratizingDataScience.pdf">paper</a>, <a href="http://www.sophiechou.com/papers/Chou-Li-Sridharan-DemocratizingDataScience-Slides.pdf">slides</a></p>

 
	 
	<footer>
		<p>Copyright © 2015 Sophie Chou</p>	</footer>



</body>
</html>