.slide { font-family: 'Droid Sans'; text-align:center; }
.slide.title { text-align:center; }

.slide h1 {
  font-family:  'Droid Serif', serif;
  font-size: 80px;
}
 
.slide p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 45px;
}
 
.slide h1 > button { font-size:1em; }
.slide a { border:none; color:black; background:#ddd; padding:.25em .5em; border-radius:.25em; }
.slide code { text-align:left; font-size:20em; font-family:monospace; padding:1em 2em; }
 